.s:hover {
    color: rgb(44, 44, 123);
    text-decoration: underline;
    cursor: pointer;
}

.btn,
button {
    border-radius: 50px;
}

i {
    color: #0d6efd;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.ex {
    padding: 5px 10px;
}

.ex:hover {
    background-color: dimgray;
    color: white;
}

.appointment {
    border-radius: 40px;
}

.doctor-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.doctor-card {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.doctor-profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.doctor-info {
    display: flex;
    align-items: center;
}

.doctor-stats {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.doctor-stats i {
    margin-right: 5px;
}

.chat-button {
    border-radius: 20px;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar ul li:hover,
.sidebar ul .active {
    color: #0d6efd;
    font-weight: bold;
}

@media (max-width: 768px) {
    .doctor-info {
        flex-direction: column;
        text-align: center;
    }

    .doctor-profile-img {
        margin-bottom: 10px;
    }
}

.clinic-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.clinic-img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.clinic-info {
    flex: 1;
    padding: 15px;
}

.clinic-info h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

.clinic-details p {
    margin: 5px 0;
    font-size: 0.9em;
}

.contact-btn {
    border-radius: 20px;
    font-size: 0.9em;
}

.footer {
    background-color: white;
    padding: 40px 0;
}
.footer a {
    color: black;
    text-decoration: none;
}
.footer a:hover {
    color: rgba(49, 23, 23, 0.421);
}
.footer-logo img {
    max-width: 150px;
}
.social-icons a {
    margin: 0 10px;
    color: #0d6efd;
    font-size : 20px;
}
.social-icons a:hover {
    color: blue;
}

.f {
    color: #0d6efd;
    font-weight: bold;
    text-transform: uppercase;
}

.footer ul li {
    line-height: 30px;
}